<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>{{pageTitle}}</title>
  </head>

  <body>

    {{> header}}
    <p>{{body}}</p>
    <p>{{screamIt 'arsenal'}}</p>

    {{> footer}}
  </body>
</html>



<!-- // var log = `${now}: ${res.method} ${req.url}`;
//
// fs.appendFile('server.log', log + "\n", (err) => {
//   if(err){
//     console.log("there was an error");
//   }
// });
//console.log(log); -->
