<!DOCTYPE html>
<html>
  <head>
      <meta charset="utf-8">
      <title>{{pageTitle}}</title>
  </head>

  <body>
    {{> header}}
    <h2>Our projects</h2>
    <p>Na our projects dey below like this!!!;</p>

    {{> footer}}
  </body>
</html>
